@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Georgia, Cambria, serif;
  background-color: #ffffff;
  color: #6A3E37;
}
